/* Element css specifications */
html {
    scroll-behavior: smooth;
}

body {
    background-attachment: fixed;
    background-image: url('../images/behind-code.png');
    background-position-x: -1.95rem;
    background-size: cover;
    font-family: fantasy, serif;
    padding-top: .5rem;
    text-align: center;
}

h1 {
    font-size: 75px;
    margin: 50px auto 0px auto;
}

h2 {
    font-family: 'Merriweather', serif;
    margin: 0;
}

h3 {
    font-family: 'Merriweather', serif;
    margin-bottom: 0;
}

h4 {
    font-family: 'Merriweather', serif;
    position: relative;
    top: 15px;
    margin-bottom: 10px;
}

p {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 16px;
}

ul {
    margin-top: 8px;
}

a:hover {
    color: rgb(61, 24, 24);
}


/* NAVBAR */

.navbar-container {
    background-attachment: fixed;
    background: linear-gradient(#000000, #00000010)
}

.contact-links {
    text-align: right;
}

.logo-image {
    height: 1.3rem;
    margin-right: .4rem;
}

.top-of-page-link {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.custom-nav-link-style {
    font-size: 1.1rem;
    padding-left: 1.5rem;
}


.nav-links :hover {
    background-color: green;
}


/* TOP CONTAINER */
.top-container {
    background-color: #0fb6cc;
    color: #ffbd69;
    padding-top: 100px;
    position: relative;
}

.mountain-img {
    position: relative;
    top: 10px;
    width: 98%;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding-top: 10px;
}

.sub-title {
    font-size: 1.75rem;
    margin-top: 0;
    transition: opacity 2s;
}

.sun-img {
    height: 90px;
    position: absolute;
    left: 2rem;
    top: 3.5rem;
}

.top-cloud {
    position: absolute;
    right: 200px;
    top: 3rem;
}

.bottom-cloud {
    position: relative;
    left: -30%;
}


/* MIDDLE CONTAINER */
.profile {
    background-image:
        linear-gradient(rgb(100, 54, 24), #d8a96b);
    border-top-left-radius: 7.4%;
    border-top-right-radius: 7.4%;
}

.middle-container {
    background-image:
        linear-gradient(#c78e44, rgb(100, 54, 24));
    background: linear-gradient(#000000, #00000010), url("../images/laptop-with-plants.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/* ABOUT SECTION */
.about-section {
    background-color: rgb(215, 170, 114);
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.my-story-hr {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin-bottom: 10px;
    width: 25%;
}

.my-story-title {
    display: inline-block;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 2rem;
}


.story-hole-spacer {
    background: linear-gradient(rgb(215, 170, 114), rgb(215, 170, 114, .7));
    height: 1rem;
}

.hole {
    padding: 10%;
    width: auto;
    height: 100px;
    mix-blend-mode: soft-light;
    background-image: url("../images/panorama-mtn-top.jpeg");
    background-size: cover;
    opacity: .55;
}

.hole-skills-spacer {
    background: linear-gradient(rgb(215, 170, 114, .7), rgb(253, 204, 144));
    height: 1rem;
}


/* SKILLS SECTION */

#skills-section {
    font-family: 'Merriweather', serif;
}

.skills-title-bar {
    background: #fecb89;
    height: 69px;
    padding-bottom: 6rem;
    padding-top: 3rem;
}

.skills-section-title {
    display: inline-block;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 20px;
}

.my-skills-hr {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin-bottom: 10px;
    width: 25%;
}

.skill-row {
    display: inline-block;
    vertical-align: top;
}

.skills-lists-box {
    background: linear-gradient(#fecb89, #0fb6cc90);
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.frontend-icon {
    height: 6.25rem;
}

.frontend-skill {
    margin-right: 1rem;
}

.frontend-list {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.frontend-list > li {
    text-align: left;
    /* margin-left: 2rem; */
}

.backend-icon {
    height: 100px;
    padding-top: 1rem;
    padding-bottom: 10px;
    width: 80px;
}

.backend-skill {
    margin-left: 3rem;
}

.backend-list {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.backend-list > li {
    text-align: left;
    /* margin-left: 2rem; */
}

.team-icon {
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
    height: 5.1rem;
    margin-top: 1rem;
    margin-bottom: .12rem;
    padding-bottom: .7rem;
    width: 5rem;
}

.team-list {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.team-list > li {
    text-align: left;
    margin-left: 2rem;
}


/* WORK SECTION */
.my-work-hr {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(245, 245, 245, 0.705);
    display: inline-block;
    margin-bottom: 10px;
    width: 25%;
}

.work-section-title {
    color: rgba(245, 245, 245, 0.705);
    display: inline-block;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 2rem;
}

.portfolio {
    display: inline-block;
    padding-top: 50px;
    text-align: center;
}

.portfolio-description-divide {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    width: 25%;
}

.project-image {
    border: solid black 2px;
    float: left;
    max-height: 120px;
    max-width: 180px;
    margin: 10px 1.2%;
    text-align: left;
    width: 35%;
}

.project-image:hover {
    opacity: .8;
}

.project {
    background-color: rgb(15, 182, 204, .7);
    border: solid black;
    border-radius: 10px;
    display: block;
    font-weight: bold;
    min-height: 200px;
    margin: 20px;
    text-align: center;
    width: 70%;
}

.project-skills>li {
    list-style: none;
    margin: 4px;
    text-align: center;
}

.project-skills ul {
    text-align: center;
    margin-left: 35%;
}

.project-skills li {
    display: inline;
    padding: 1%;
}

.contact-me {
    background-image:
        linear-gradient(
            #0fb6cc, #c78e44);
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    margin-top: 70px;
}

/* BOTTOM CONTAINER */
.bottom-container {
    background-color: #c78e44;
    display: block;
    position: relative;
    bottom: 0;
}

.blog-section-title {
    margin-top: 2rem;
}

.blog-image {
    border-radius: 10px;
    /* display: block; */
    height: 12rem;
    max-width: 18rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.blog-image:hover {
    filter: drop-shadow(2rem 2rem 2rem #0fb6cc70) contrast(135%);
}

.blog-caption-title {
    margin-top: 1rem;
}

.blog-title-link {
    color: rgb(238, 227, 206);
    text-decoration: none;
}

.blog-title-link:hover {
    color: whitesmoke;
    text-decoration: none;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}


/* CONTACT INFO */
.contact-info-section-title {
    margin-top: 4rem;
}

.email-link {
    font-size: 1.50em;
    color: #0f67cc;
}

.contact-hr {
    margin-top: 15px;
}

.footer-link {
    display: inline-block;
    font-size: 1.5em;
    padding: 20px 20px;
    color: #0f67cc;
}