
body {
    margin: 0;
    text-align: center;
    font-family: fantasy, serif;
}

h1 {
    margin-top: 0;
}

h2 {
    font-family: 'Merriweather', serif;
}

h3 {
    font-family: 'Merriweather', serif;
}

.top-container {
    background-color: #111d5e;
    color: #ffbd69;
    padding-top: 100px;
    position: relative;
    
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.middle-container {
    height: 200px;
    width: 200px;
    background-color: burlywood;
}

.bottom-container {
    height: 200px;
    width: 200px;
    background-color: goldenrod;
}

.blue {
    background-color: blue;
    display: inline-block;
    height: 200px;
    position: relative;
    right: 204px;
    width: 200px;
}

.red {
    background-color: red;
    display: inline-block;
    height: 200px;
    position: relative;
    left: 392px;
    width: 200px;
}

.yellow {
    background-color: yellow;
    display: inline-block;
    height: 200px;
    position: relative;
    right: 208px;
    width: 200px;
}